/* css using classes */
.heading-main {
    text-align: center;
    color: rgb(6, 62, 59);
}


.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 2px 2px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-fieldset {
    border: 1px solid #ddd;
    margin-bottom: 25px;
    border-radius: 5px;
    padding: 15px;
}

.form-legend {
    font-weight: bold;
    padding: 0 10px;
    margin-left: -10px;
    color: #0056b3;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.form-input,
.form-textarea {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-radio {
    margin-right: 5px;
    margin-left: 10px;
}

.form-textarea {
    resize: vertical;
}

.form-button {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #2a7fda;
}

.form-reset:hover {
    background-color: #57b336;
}

@media (max-width: 380px) {
    body {
        padding: 10px;
    }

    .form-container {
        padding: 20px;
    }

    .heading-main {
        font-size: 35px;
    }
}
